img {
    max-width: 100%;
    display: block;
}

.wrapper {
    /* max-width: 50rem; */
    padding-inline: 1rem;
    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
}

[data-layout='normal'] {
    justify-content: right;
    /* align-items: end; */
}

.accordion {
    --_button-size: 3rem;
    --_panel-padding: 0.75rem;
    --_panel-gap: 1rem;

    display: flex;
    gap: 1rem;
    max-width: 100%;
    /* added padding to prevent issue with outlines */
    padding: 0.5rem;
    flex-shrink: 1;

    flex-direction: row;
    height: 32rem;
}

@media (max-width: 850px) or (min-width: 1450px) {
    .accordion {
        flex-direction: column;
        height: 50rem;
    }

    .accordion img {
        width: 100%;
    }

    .wrapper {
        max-width: 100%;
    }
}

@media (max-width: 850px) {
    .accordion,
    .wrapper {
        width: 100%;
    }
}

.accordion * {
    margin: 0;
}
