.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(var(--color-white));
    z-index: 1;
    position: relative;
    min-height: 100vh;
}

.contact-message {
    font-size: 2.4rem;
    max-width: 80rem;
    color: rgb(var(--color-orange));
    font-weight: 700;
    margin-inline: auto;
    margin-bottom: 5rem;
    text-wrap: balance;
}

.contact-container::before {
    content: '';
    position: absolute;
    height: 2px;
    box-shadow: inset 3px 5px transparent;
    width: 80%;
    top: -1px;
    left: 10%;
    background: linear-gradient(
        90deg,
        transparent,
        rgb(var(--color-orange)),
        transparent
    );
}

.contact-container button {
    margin-block: 3rem;
}

.form-contact-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    row-gap: 1rem;
    margin: 1rem 3rem;
    font-size: 2rem;
}

.form-contact-container label {
    --translateX: -5rem;
    text-align: end;
    margin-block: auto;
    margin-right: 2rem;
    opacity: 0;
}

label:nth-of-type(2),
input:nth-of-type(2) {
    --delay: 300ms;
}

label:nth-of-type(3),
input:nth-of-type(3) {
    --delay: 600ms;
}

label:nth-of-type(4),
textarea {
    --delay: 900ms;
}

.form-contact-container input,
.form-contact-container textarea {
    --translateX: 5rem;
    text-align: start;
    color: black;
    border: 2px solid rgb(var(--color-orange));
    border-radius: 1rem;
    padding: 1rem;
    max-width: 50rem;
    resize: none;
    opacity: 0;
}

.contact-container.active input,
.contact-container.active textarea,
.contact-container.active label {
    opacity: 0;
    translate: var(--translateX);
    animation: slideIn 1000ms forwards ease-in;
    animation-delay: var(--delay);
}

@keyframes slideIn {
    to {
        opacity: 1;
        translate: 0;
    }
}

.form-contact-container input:focus,
.form-contact-container textarea:focus {
    border: green 2px solid;
    outline-offset: 2px;
    outline: none;
}

label.description {
    margin-top: 1rem;
}
