/* SVG background */

.background-container {
    --dimension: 250px;
    --image-width: 300px;
    position: absolute;
    z-index: -1;
    width: var(--image-width);
    height: var(--image-width);
}

.square {
    z-index: -1;
    filter: blur(1px);
    width: 100%;
    height: 100%;
}

.square rect {
    height: 100%;
    width: 100%;
    stroke: rgba(var(--color-red-soft), 0.5);
    stroke-width: 5rem;
    fill: none;
}

/* Individual squares */

#one {
    transform: scale(1.5) rotate(45deg);
}

#two {
    transform: scale(1.2) translate(250px, -150px) rotate(45deg);
}
