.header-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    margin: 10rem 2rem;
    gap: 2rem;
    align-items: center;
}

.photo-finissant {
    height: 30rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 2px black solid;
    float: right;

    box-shadow: 2px 2px 2px 1px black;
}

.header-name,
.header-profession {
    color: rgb(var(--color-white));
    text-align: left;
}

.header-name {
    font-size: 10rem;
    text-shadow: 3px 3px black;
}

.header-profession {
    font-size: 6rem;
    text-shadow: 2px 2px black;
}

.anglais {
    color: rgb(var(--color-grey));
}
