.header {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background: rgb(var(--color-red-bright));
    padding-block: 0rem 20rem;
    width: 100%;
    min-height: calc(100vh + 20rem);
    isolation: isolate;
}

.header::before {
    position: fixed;
    bottom: 0;
    content: '';
    width: 100%;
    height: 15rem;
    background: linear-gradient(transparent, rgb(var(--color-red-soft)));
    transition: all 300ms;
    z-index: -1;
}

.header-fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.header.transition::before {
    height: 30rem;
    background: linear-gradient(transparent, rgb(var(--color-red-soft)));
}

@media screen and (max-width: 1000px) {
    .header-fixed {
        position: absolute;
    }
}
