.header-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    margin: 10rem 2rem 15rem;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.photo-finissant {
    height: 30rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 2px rgb(var(--color-red-soft)) solid;
    float: right;
    box-shadow: 5px 5px 5px 1px rgb(var(--color-red-soft));
}

.header-name,
.header-profession {
    text-align: left;
}

.header-name {
    color: rgb(var(--color-white-text));
    font-size: 10rem;
    text-shadow: 3px 3px black;
}

.header-profession {
    color: rgb(var(--color-white-text-both));
    font-size: 6rem;
    text-shadow: 2px 2px black;
}

.anglais {
    color: rgb(var(--color-grey));
}

.wrapper-photo {
    display: flex;
}

.photo-container {
    position: relative;
    margin-left: auto;
    width: fit-content;
}

/* Animation on load */

@media screen and (prefers-reduced-motion: no-preference) {
    .photo-finissant {
        opacity: 0;
        transform: translateX(-5rem);
    }

    .header-name {
        opacity: 0;
        transform: translateX(5rem);
        --delay: 300ms;
    }

    .header-profession {
        opacity: 0;
        transform: translateX(5rem);
        --delay: 600ms;
    }

    .photo-finissant,
    .header-name,
    .header-profession {
        animation: fadeInStart 1s forwards;
        animation-delay: var(--delay);
    }
}

@keyframes fadeInStart {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
