.header-container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin: 10rem 8rem 20rem 5rem;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.photo-wrapper {
    position: relative;
    margin-right: 10rem;
    max-width: 60rem;
    transition: translate 1s, opacity 1s;
}

.photo-finissant {
    /* background-color: rgb(var(--color-red-bright), 0.8); */
    height: 30rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 2px rgb(var(--color-orange)) solid;
    float: right;
    filter: drop-shadow(0px 0px 20px black);
}

.photo-finissant:nth-child(1) {
    position: absolute;
    filter: drop-shadow(0px 0px 20px black) blur(2px);
}

.photo-finissant:nth-child(2) {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.header-name,
.header-profession {
    text-align: left;
}

.header-name {
    color: rgb(var(--color-white-text));
    font-size: 10rem;
    text-shadow: 3px 3px black;
}

.header-profession {
    color: rgb(var(--color-white-text-both));
    font-size: 6rem;
    text-shadow: 2px 2px black;
}

.wrapper-photo {
    display: flex;
}

.photo-container {
    height: 300px;
    aspect-ratio: 1;
    position: relative;
    margin-left: auto;
    width: fit-content;
}

/* Animation on load */

@media screen and (prefers-reduced-motion: no-preference) {
    .photo-container {
        opacity: 0;
        transform: translateX(-5rem);
    }

    .header-name {
        opacity: 0;
        transform: translateX(5rem);
        --delay: 300ms;
    }

    .header-profession {
        opacity: 0;
        transform: translateX(5rem);
        --delay: 600ms;
    }

    .photo-container,
    .header-name,
    .header-profession {
        animation: fadeInStart 1s forwards;
        animation-delay: var(--delay);
    }
}

@keyframes fadeInStart {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.header-name-container {
    transition: translate 1s, opacity 1s;
}

.header-container.transition > :first-child {
    translate: -200%;
    opacity: 0;
}

.header-container.transition .header-name-container {
    translate: 100%;
    opacity: 0;
}

@media (max-width: 1420px) {
    .header-name {
        font-size: 8rem;
    }
    .header-profession {
        font-size: 4rem;
    }
}

@media (max-width: 1250px) {
    .header-name {
        font-size: 6rem;
    }
    .header-profession {
        font-size: 2.8rem;
    }
    .photo-container,
    .photo-finissant {
        height: 200px;
    }

    .photo-container > :last-child {
        scale: 0.4;
    }
    .photo-wrapper .photo-container svg {
        transform: translate(-60rem, -41rem) scale(0.95);
    }
    .header-container {
        margin-bottom: 15rem;
    }
}

@media (max-width: 1250px) {
    .header-name {
        font-size: 4rem;
    }
}

@media (max-width: 785px) {
    .header-container {
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .photo-wrapper {
        margin: 0;
    }
    .header-name-container {
        margin-top: 6rem;
    }
    .header-name-container * {
        text-align: center;
    }
}
