.header-description-container {
    display: flex;
    margin-inline: 10rem;
    padding-inline: 5rem;
    justify-content: center;
}

.header-description-container:hover .curly-braces {
    translate: var(--translate-brace);
}

.header-description-text {
    transition: opacity 300ms;
    color: rgb(var(--color-white-text-both));
}

.transition .header-description-text {
    opacity: 0;
}

.curly-braces {
    height: 200px;
    position: absolute;
    transition: translate 300ms, opacity 300ms;
    stroke: rgb(var(--color-orange));
    stroke-width: 0.2;
}

.left-brace {
    --translate-brace: 2rem;
    left: calc(-26rem + 30%);
}

.right-brace {
    --translate-brace: -2rem;
    right: calc(-26rem + 30%);
}

.header-description {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    color: rgb(var(--color-white));
    font-size: 2rem;
    font-weight: 500;
    gap: 1rem;
    margin-inline: 5rem;
}

.header-description p {
    text-wrap: balance;
    max-width: 90rem;
}

.transition .left-brace {
    opacity: 0;
    translate: -5rem;
}

.transition .right-brace {
    opacity: 0;
    translate: 5rem;
}

/* Animation on load */

@media screen and (prefers-reduced-motion: no-preference) {
    .header-description {
        opacity: 0;
        transform: translateY(5rem);
        --delay: 600ms;
    }

    .left-brace,
    .right-brace {
        transform: translateX(-5rem);
        --delay: 900ms;
    }

    .right-brace {
        transform: translateX(5rem);
    }

    .header-description {
        animation: fadeInStart 1s forwards;
        animation-delay: var(--delay);
    }
}

@keyframes fadeInStart {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.curly-braces path {
    opacity: 0;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: dash 2s linear forwards;
    animation-delay: 900ms;
}

@keyframes dash {
    from {
        opacity: 1;
        stroke-dashoffset: 100;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 1250px) {
    .header-description {
        margin-inline: 0;
    }
}

@media screen and (max-width: 1000px) {
    .header-description-container {
        padding-inline: 0;
    }
    .curly-braces {
        transform: none;
    }
}

@media screen and (max-width: 750px) {
    .curly-braces {
        display: none;
    }
    .header-description-text {
        border: 2px solid rgb(var(--color-orange));
        padding: 1rem;
        border-radius: 2rem;
    }
    .header-description-container {
        margin-inline: 2rem;
    }
}
