.header-description-container {
    display: flex;
    position: relative;
    margin-inline: 10rem;
    padding-inline: 5rem;
}

.header-description-container:hover .curly-braces {
    translate: var(--translate-brace);
}

.curly-braces {
    height: 200%;
    top: -50%;
    position: absolute;
    transition: translate 300ms;
}

.left-brace {
    --translate-brace: 2rem;
    left: 0;
}

.right-brace {
    --translate-brace: -2rem;
    right: 0;
}

.header-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(var(--color-white));
    font-size: 2rem;
    gap: 1rem;
    margin-inline: 5rem;
}

.header-description p {
    text-wrap: balance;
}

.anglais {
    color: rgb(var(--color-grey));
}
