/* SVG background */

.background-container {
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 300px;
}

.square {
    position: absolute;
    translate: -20rem -20rem;
    z-index: -1;
    filter: blur(1px);
}

.square rect {
    height: 500px;
    width: 500px;
    stroke: rgb(var(--color-red-soft));
    stroke-width: 4rem;
    fill: none;
    /* fill: rgb(var(--color-red-soft)); */
}
