.section-title {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block: 2rem 5rem;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 5rem;
    color: rgb(var(--color-orange));
    opacity: 0;
    translate: 0 2rem;
    transition: opacity 500ms, translate 500ms;
}

.section-title::before,
.section-title::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: rgb(var(--color-orange));
    margin-block: auto;
}

@media screen and (max-width: 1000px) {
    .section-title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .section-title {
        font-size: 2rem;
    }
}

.section-title.transition {
    opacity: 1;
    translate: 0;
}
