.description-container {
    --gap: 5rem;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    gap: var(--gap);
}

.btn-wrapper {
    display: flex;
}

.description-container.normal > *,
.description-container.inverse > * {
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}

.description-container > :nth-child(2) {
    transition-delay: 150ms;
}

.description-container > :nth-child(3) {
    transition-delay: 300ms;
}

.description-container > :nth-child(4) {
    transition-delay: 450ms;
}

.description-container > :nth-child(5) {
    transition-delay: 600ms;
}

.description-container.normal > * {
    transform: translate(10rem);
}

.description-container.inverse > * {
    transform: translate(-10rem);
}

.description-container * {
    text-align: left;
}

.description-container.transition > * {
    opacity: 1;
    transform: translate(0);
}

.description-container h3 {
    font-family: sans-serif;
    font-size: 5rem;
    margin-bottom: 1rem;
    color: rgb(var(--color-orange));
}

.description-container p {
    position: relative;
    font-size: 1.8rem;
    text-wrap: balance;
}

.description-container p:nth-of-type(2) {
    font-size: 1.6rem;
    color: rgb(155, 0, 0);
    font-weight: 500;
}

.note-container {
    font-size: 1.6rem;
    position: relative;
}

.note-container span {
    color: rgb(255, 144, 129);
    margin-right: 5px;
}

.description-container > p::before,
.description-container > .note-container:before,
.description-container > div:last-of-type::before {
    content: '';
    position: absolute;
    top: calc(-0.5 * var(--gap));
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(var(--color-orange));
    border-radius: 1rem;
}

@media screen and (max-width: 1450px) {
    .description-container {
        order: 2;
        max-width: 80rem;
        padding-left: 0;
        margin-inline: 1rem;
    }

    .description-container h3 {
        text-align: center;
        margin-block: 2rem 0;
    }

    .description-container:nth-of-type(1) {
        max-height: 60rem;
    }
}

@media screen and (max-width: 600px) {
    .description-container p {
        font-size: 1.4rem;
    }
}
