.description-container {
    --gap: 5rem;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    gap: var(--gap);
}

.description-container * {
    text-align: left;
}

.description-container h3 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.description-container p {
    position: relative;
    font-size: 1.8rem;
    text-wrap: balance;
}

.description-container p:nth-of-type(2) {
    font-size: 1.6rem;
    color: rgb(155, 0, 0);
    font-weight: 500;
}

.note-container {
    font-size: 1.6rem;
    position: relative;
}

.note-container span {
    color: red;
    margin-right: 5px;
}

.description-container > p::before,
.description-container > .note-container:before,
.description-container > div:last-of-type::before {
    content: '';
    position: absolute;
    top: calc(-0.5 * var(--gap));
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(var(--color-orange));
    border-radius: 1rem;
}

@media screen and (max-width: 1450px) {
    .description-container {
        order: 2;
    }
}
