.tools-container {
    --gap-tool: 1rem;
    display: flex;
    font-size: 1.6rem;
    gap: var(--gap-tool);
    position: relative;
    flex-wrap: wrap;
    max-width: 100%;
}

.tool--name,
.wrapper {
    position: relative;
}

.github-link {
    position: absolute;
    left: 0;
}

.github-link svg {
    width: 30px;
    height: 30px;
    translate: 5 -5px;
}

.github-link:hover svg > g > path {
    fill: black;
}

.github-link svg > g > path {
    fill: rgb(68, 68, 68);
    transition: all 300ms;
}

.tool--name::before,
.wrapper::before {
    content: '';
    position: absolute;
    left: calc(-1.5px + -1 * var(--gap-tool) / 2);
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    background-color: rgb(var(--color-orange));
    border-radius: 1rem;
}

@media screen and (max-width: 600px) {
    .tools-container {
        font-size: 1.4rem;
    }
}
