.tools-container {
    --gap-tool: 1rem;
    display: flex;
    font-size: 1.6rem;
    gap: var(--gap-tool);
    position: relative;
    flex-wrap: wrap;
    max-width: 100%;
}

.tool--name {
    position: relative;
}

.tool--name::before {
    content: '';
    position: absolute;
    left: calc(-1.5px + -1 * var(--gap-tool) / 2);
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    background-color: rgb(var(--color-orange));
    border-radius: 1rem;
}

@media screen and (max-width: 600px) {
    .tools-container {
        font-size: 1.4rem;
    }
}
