.footer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    margin-block: 5rem 2rem;
    font-size: 1.2rem;
}

.social-links {
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.social-links div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    width: 20px;
    opacity: 0.5;
    transition: opacity 300ms;
}

.social-links div:hover img {
    opacity: 1;
}

.copyright {
    font-weight: 500;
}
